# Model Training

In [2]:
import pandas as pd

In [5]:
df=pd.read_csv("gemstone.csv")

In [4]:
pd.read_csv("EDA!gem.csv")

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.52,4,3,4,62.2,58.0,7.27,7.33,4.55,13619
1,1,2.03,3,7,2,62.0,58.0,8.06,8.12,5.05,13387
2,2,0.70,5,4,5,61.2,57.0,5.69,5.73,3.50,2772
3,3,0.32,5,4,5,61.6,56.0,4.38,4.41,2.71,666
4,4,1.70,4,4,4,62.6,59.0,7.65,7.61,4.77,14453
...,...,...,...,...,...,...,...,...,...,...,...
193568,193568,0.31,5,1,6,61.1,56.0,4.35,4.39,2.67,1130
193569,193569,0.70,4,4,6,60.3,58.0,5.75,5.77,3.47,2874
193570,193570,0.73,3,3,3,63.1,57.0,5.72,5.75,3.62,3036
193571,193571,0.34,3,1,3,62.9,55.0,4.45,4.49,2.81,681
193572,193572,0.71,2,2,2,60.8,64.0,5.73,5.71,3.48,2258

In [6]:
df1=df.copy()

In [10]:
df1.drop(columns=["id"],inplace=True)

In [11]:
X=df1.iloc[:,:-1]

In [12]:
X

        carat        cut color clarity  depth  table     x     y     z
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77
...       ...        ...   ...     ...    ...    ...   ...   ...   ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48

[193573 rows x 9 columns]

In [17]:
Y=df1.iloc[:,[-1]]

In [18]:
Y

        price
0       13619
1       13387
2        2772
3         666
4       14453
...       ...
193568   1130
193569   2874
193570   3036
193571    681
193572   2258

[193573 rows x 1 columns]

In [43]:
df1.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [64]:
cat=df1.select_dtypes(include="object").columns
# num=df1.select_dtypes(exclude="object").columns
num=['carat', 'depth', 'table', 'x', 'y', 'z']

In [65]:
X.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [66]:
num

['carat', 'depth', 'table', 'x', 'y', 'z']

In [67]:
cat

Index(['cut', 'color', 'clarity'], dtype='object')

In [68]:
# Define the Ranking for each of the odinal vairable
cut_category=["Fair","Good","Very Good","Premium","Ideal"]
color_category=["D","E","F","G","H","I","J"]
clarity_category=["I1","SI2","SI1","VS2","VS1","VVS2","VVS1","IF"]

In [22]:
import sklearn

In [69]:
from sklearn.impute import SimpleImputer  # For handling missing values
from sklearn.preprocessing import StandardScaler # For Feature scaleing
from sklearn.preprocessing import OrdinalEncoder  # For performing ordinal Encoding

# Pipelines

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [70]:
## Numerical pipeline 
num_pipeline=Pipeline(
    steps=[
        ("imputer",SimpleImputer(strategy="median")),
        
        ("scaler",StandardScaler())
    ]
)


## Categorical Pipeline
cat_pipeline=Pipeline(
    steps=[
        ("imputer",SimpleImputer(strategy="most_frequent")),
        ("odianl",OrdinalEncoder(categories=[cut_category,color_category,clarity_category])),
        
        ("sclaer",StandardScaler())
        
    ]
)


preprocessor=ColumnTransformer([
    ("num_pipeline",num_pipeline,num),
    ("cat_pipeline",cat_pipeline,cat)
    
    
    
]    
)

In [71]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=4)

In [56]:
X_train

        carat        cut color clarity  depth  table     x     y     z
149879   1.54    Premium     E     SI1   59.1   58.0  7.55  7.51  4.44
163353   0.80      Ideal     H     SI2   62.2   54.0  5.95  5.98  3.71
190283   0.32    Premium     F     VS2   60.5   60.0  4.38  4.36  2.65
49608    0.55      Ideal     G    VVS2   62.2   57.0  5.21  5.24  3.25
17230    1.26      Ideal     F     VS2   61.0   56.0  7.00  6.96  4.25
...       ...        ...   ...     ...    ...    ...   ...   ...   ...
115144   0.91  Very Good     D     SI1   62.8   56.0  6.13  6.19  3.86
142935   1.01  Very Good     D     SI1   61.0   57.0  6.47  6.52  3.96
129384   1.50      Ideal     I     SI2   62.9   56.0  7.27  7.31  4.59
120705   0.41      Ideal     G     VS2   62.1   54.0  4.77  4.73  2.95
115397   0.81  Very Good     G     SI1   62.2   57.0  5.91  5.94  3.69

[135501 rows x 9 columns]

In [62]:
X_test

        carat        cut color clarity  depth  table     x     y     z
151152   0.33    Premium     F     VS2   62.5   59.0  4.46  4.41  2.77
24872    1.10      Ideal     F     VS2   61.2   56.0  6.66  6.69  4.08
175449   1.17      Ideal     J     VS1   62.2   57.0  6.77  6.70  4.19
104214   0.33      Ideal     F     SI2   60.9   57.0  4.51  4.49  2.74
4155     0.31      Ideal     H     VS1   60.9   57.0  4.33  4.35  2.63
...       ...        ...   ...     ...    ...    ...   ...   ...   ...
95418    1.01  Very Good     G    VVS2   61.1   56.0  6.50  6.53  3.98
157023   0.53      Ideal     E     SI1   61.4   56.0  5.21  5.26  3.20
146667   0.41      Ideal     F    VVS1   61.6   56.0  4.77  4.81  2.95
9938     0.34      Ideal     F     VS2   60.4   57.0  4.52  4.57  2.74
102603   0.30      Ideal     H    VVS1   62.6   56.0  4.28  4.30  2.69

[58072 rows x 9 columns]

In [72]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())

In [73]:
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

In [74]:
X_train.head()

,num_pipeline__carat,num_pipeline__depth,num_pipeline__table,num_pipeline__x,num_pipeline__y,num_pipeline__z,cat_pipeline__cut,cat_pipeline__color,cat_pipeline__clarity
0,1.618162,-2.511463,0.400879,1.652844,1.622951,1.320655,-0.134977,-0.935703,-0.650542
1,0.020341,0.353048,-1.678620,0.211887,0.236129,0.257123,0.872323,0.914201,-1.314780
2,-1.016083,-1.217813,1.440628,-1.202053,-1.232271,-1.287184,-0.134977,-0.319069,0.013696
3,-0.519463,0.353048,-0.118996,-0.454557,-0.434621,-0.413048,0.872323,0.297566,1.342173
4,1.013581,-0.755795,-0.638871,1.157515,1.124420,1.043845,0.872323,-0.319069,0.013696

In [75]:
X_test.head()

,num_pipeline__carat,num_pipeline__depth,num_pipeline__table,num_pipeline__x,num_pipeline__y,num_pipeline__z,cat_pipeline__cut,cat_pipeline__color,cat_pipeline__clarity
0,-0.994491,0.630259,0.920754,-1.130006,-1.186950,-1.112357,-0.134977,-0.319069,0.013696
1,0.668106,-0.570988,-0.638871,0.851312,0.879687,0.796173,0.872323,-0.319069,0.013696
2,0.819252,0.353048,-0.118996,0.950377,0.888751,0.956432,0.872323,2.147470,0.677935
3,-0.994491,-0.848199,-0.118996,-1.084976,-1.114436,-1.156064,0.872323,-0.319069,-1.314780
4,-1.037675,-0.848199,-0.118996,-1.247083,-1.241335,-1.316322,0.872323,0.914201,0.677935

In [79]:
# Model training

from sklearn.linear_model import LinearRegression,Ridge,Lasso,ElasticNet

from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [77]:
reg=LinearRegression()

In [78]:
reg.fit(X_train,Y_train)

LinearRegression()

In [85]:
import numpy as np
def evaluate_model(true,predicted):
    mse=mean_squared_error(true,predicted)
    mae=mean_absolute_error(true,predicted)
    rmse=np.sqrt(mse)
    r2=r2_score(true,predicted)
    
    return mae,mse,rmse,r2

In [90]:
## Train Multiple models

models={
    "LinearRegression":LinearRegression(),
    "Lasso":Lasso(),
    "Ridge":Ridge(),
    "ElasticNet":ElasticNet()
}


model_list=[]
trained_model_list=[]
r2_list=[]
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,Y_train)
    
    
    # Make Predictions
    y_pred=model.predict(X_test)
    mae,mse,rmse,r2=evaluate_model(Y_test,y_pred)
    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    # trained_model_list.append(model.values())
    
    print("Model Training Performance")
    print("RMSE :",rmse)
    print("MAE :",mae)
    print("R2_score :",r2*100)

LinearRegression
Model Training Performance
RMSE : 1014.5150359876736
MAE : 672.4249684679119
R2_score : 93.63364273986872
Lasso
Model Training Performance
RMSE : 1013.3810476001728
MAE : 673.2423809852646
R2_score : 93.64786695571345
Ridge
Model Training Performance
RMSE : 1014.5154467631178
MAE : 672.4484417684403
R2_score : 93.63363758441282
ElasticNet
Model Training Performance
RMSE : 1533.097754993485
MAE : 1063.5436309013933
R2_score : 85.46169668042975

In [91]:
model_list

['LinearRegression', 'Lasso', 'Ridge', 'ElasticNet']